/* --- Global variables + basic style --- */
:root {
    --bg-color: #DFD0C3;
    --font-color: #121212;
    --accent-color: #F27938;
}

* {
    color: var(--font-color);
    font-family: "Segoe UI", serif;
}

body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

body.high_contrast{
    --bg-color: #FFFFFF;
    --font-color: #000000;
    --accent-color: #FF6200;
}

/* --- Headings --- */
h1{
    font-size: 256px;
    text-align: center;
    margin: 32px auto 0 auto;
}

h2 {
    margin: 0 auto;
    font-size: 84px;
}

h3{
    margin: 0 auto;
    font-size: 68px;

}

h4 {
    margin: 0 auto;
    font-size: 48px;
}

h5{
    margin: 0 auto;
    font-size: 32px;
}

h6{
    margin: 0 auto;
    font-size: 28px;
}

/* --- Sections and structure --- */
header{
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-right: 64px;
}

.homepage {
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.timer{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    padding: 32px 128px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#modes {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    column-gap: 64px;
}

/* --- Top bar --- */
.logo_square {
    font-size: 20px;
    margin-left: 4px;
    color: var(--accent-color);
}

.icon {
    border: none;
    background: none;
    font-size: 40px;
    color: var(--font-color);
}

.icon:hover > i {
    color: var(--accent-color);
    border: none;
}

.left-filler {
    width: 248px;
    margin-left: 64px;
}

/* --- Homepage view --- */
#modes > button{
    border: none;
    border-radius: 20px;
    padding: 48px 32px;
    font-size: 74px;
    font-weight: 500;
    background-color: var(--font-color);
    color: var(--bg-color);
    cursor: pointer;
}

#modes > button:hover {
    color: var(--accent-color);
}

/* --- Settings view --- */
.settings{
    display: flex;
    flex-direction: column;
}

h6{
    margin-top: 24px;
    margin-bottom: 8px;
    border-bottom: 3px solid var(--accent-color);
    width: 60%;
}

form{
    width: 55%;
}

form > *{
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
}

form > input {
    border: none;
    background: none;
    border-bottom: 2px solid var(--font-color);
    margin-left: 16px;

}

form > input[type="text"]{
    width: 30%;
}

form > input[type="number"]{
    width: 7%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=color], input[type=color]:hover,
input[type=color]:focus, input[type=color]:active {
    border: none;
    height: 36px;
    width: 52px;
}

form > input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent-color);
}


/* --- Clock|Timer view --- */
.exam_data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pop-up > h5{
    color: var(--bg-color);
    text-align: center;
}

.pop-up form{
    display: flex;
    flex-direction: column;
}

.pop-up input{
    font-size: 24px;
    margin-bottom: 32px;
    border: none;
    border-radius: 24px;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 8px 16px;
}

.pop-up input:focus{
    outline: none;
}

.pop-up button{
    font-size: 32px;
    font-weight: 500;
    border: 2px solid var(--font-color);
    border-radius: 24px;
    color: var(--bg-color);
    background-color: var(--font-color);
    cursor: pointer;
}

.pop-up button:hover{
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.timer-nav{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.timer-nav i {
    font-size: 42px;
    color: var(--accent-color);
    cursor: pointer;
}

.hidden {
    display: none;
}
