/* --- Global variables + basic style --- */
:root {
    --bg-color: #DFD0C3;
    --font-color: #121212;
    --accent-color: #F27938;
}

* {
    color: var(--font-color);
    font-family: "Segoe UI", serif;
}

body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

body.high_contrast{
    --bg-color: #FFFFFF;
    --font-color: #000000;
    --accent-color: #FF6200;
}

/* --- Headings --- */
h1, .h1{
    font-size: 256px;
    text-align: center;
    margin: 32px auto 0 auto;
}

h2 {
    margin: 0 auto;
    font-size: 72px;
}

h3{
    margin: 0 auto;
    font-size: 54px;

}

h4 {
    margin: 0 auto;
    font-size: 42px;
}

/* --- Sections and structure --- */
header{
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-right: 64px;
}

.homepage {
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock{
    display: flex;
    flex-direction: column;
    margin-top: 172px;
}

.timer{
    display: flex;
    flex-direction: column;
    margin-top: 172px;
}

#modes {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    column-gap: 64px;
}

/* --- Top bar --- */
.logo_square {
    font-size: 20px;
    margin-left: 4px;
    color: var(--accent-color);
}

.icon {
    border: none;
    background: none;
    font-size: 40px;
    color: var(--font-color);
}

.icon:hover > i {
    color: var(--accent-color);
    border: none;
}

.left-filler {
    width: 144px;
    margin-left: 64px;
}

/* --- Homepage view --- */
#modes > button{
    border: none;
    border-radius: 20px;
    padding: 48px 32px;
    font-size: 74px;
    font-weight: 500;
    background-color: var(--font-color);
    color: var(--bg-color);
    cursor: pointer;
}

#modes > button:hover {
    color: var(--accent-color);
}

/* --- Settings view --- */
.settings{
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 64px;
}

form > *{
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
}

form > input {
    border: none;
    background: none;
    border-bottom: 2px solid var(--font-color);
    margin-left: 16px;

}

form > input[type="text"]{
    width: 30%;
}

form > input[type="number"]{
    width: 7%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form > input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent-color);
}


/* --- Clock|Timer view --- */
.exam_data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}

.not-set{
    color: #666666;
}
