/* --- Global variables + general style --- */
:root {
    --bg-color: #DFD0C3;
    --font-color: #121212;
    --accent-color: #F27938;
}

* {
    color: var(--font-color);
    font-family: "Segoe UI", serif;
}

body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

body.contrast-mode{
    --bg-color: #FFFFFF;
    --font-color: #000000;
}

body.dark-mode{
    --bg-color: #121212;
    --font-color: #DFDFDF;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--accent-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* --- Headings --- */
h1{
    font-size: 256px;
    text-align: center;
    margin: 32px auto 0 auto;
}

h2 {
    margin: 0 auto;
    font-size: 84px;
}

h3{
    margin: 0 auto;
    font-size: 68px;

}

h4 {
    margin: 0 auto;
    font-size: 48px;
}

h5{
    margin: 0 auto;
    font-size: 32px;
}

h6{
    margin: 0 auto;
    font-size: 28px;
}

/* --- Sections and structure --- */
header{
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-right: 64px;
}

.homepage {
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock, .timer{
    display: flex;
    flex-direction: column;
    margin-top: 92px;
}

.timer{
    margin-top: 74px;
}

.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    padding: 64px 182px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#modes {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    column-gap: 64px;
}

/* --- Top bar --- */
.logo-square {
    font-size: 20px;
    margin-left: 4px;
    color: var(--accent-color);
}

.icon {
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
}

.icon > i{
    color: var(--font-color);
}

.icon:hover > i {
    color: var(--accent-color);
    border: none;
}

.left-filler {
    width: 248px;
    margin-left: 64px;
}

/* --- Homepage view --- */
#modes > button{
    border: none;
    border-radius: 20px;
    padding: 48px 32px;
    font-size: 74px;
    font-weight: 500;
    background-color: var(--font-color);
    color: var(--bg-color);
    cursor: pointer;
}

#modes > button:hover {
    color: var(--accent-color);
}

/* --- Settings view --- */
.settings{
    display: flex;
    flex-direction: column;
}

h6{
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 3px solid var(--accent-color);
    width: 60%;
}

form{
    width: 55%;
}

form > *{
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
}

form > input[type="text"],
form > input[type="number"],
input[type="color"] {
    border: none;
    background: none;
    border-bottom: 2px solid var(--font-color);
    margin-left: 16px;

}

form > input[type="color"]{
    cursor: pointer;
}

form > input[type="button"]{
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    margin-left: 16px;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: 500;
}

form > input[type="text"]{
    width: 30%;
}

form > input[type="number"]{
    width: 7%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=color], input[type=color]:hover,
input[type=color]:focus, input[type=color]:active {
    border: none;
    height: 42px;
    width: 64px;
    border-radius: 4px;
}

form > input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent-color);
}


/* --- Clock|Timer view --- */
.exam-data, .others {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer > h4 {
    margin-top: 16px;
    margin-bottom: -82px;
    margin-left: 23%;
}

.others{
    margin: 24px 0 64px 0;
}

.pop-up > h5{
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 24px;
}

.pop-up form{
    display: flex;
    flex-direction: column;
}

.pop-up input{
    font-size: 24px;
    margin-bottom: 8px;
    border: none;
    border-radius: 24px;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 8px 16px;
}

.pop-up input:focus{
    outline: none;
}

.pop-up button{
    font-size: 32px;
    font-weight: 500;
    border: 2px solid var(--font-color);
    border-radius: 24px;
    color: var(--bg-color);
    background-color: var(--font-color);
    cursor: pointer;
}

.pop-up button:hover{
    color: var(--accent-color);
}

.progress-bar-container {
    width: 65%;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 3%;
    overflow: hidden;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar-fill {
    height: 100%;
    background-color: var(--accent-color);
    width: 100%;
    transition: width 0.3s ease;
    border-radius: 20px;
}

.timer-nav{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.buttons i {
    font-size: 52px;
    margin-left: 16px;
    color: var(--accent-color);
    cursor: pointer;
}

.hidden {
    display: none;
}
